In [13]:
import os 
import pandas as pd

In [14]:
path ="Time_Series_19-covid-Confirmed Cases.csv"

covid_df = pd.read_csv(path)
covid_df.head()

,Province/State,Country/Region,Lat,Long,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,2/26/2020,2/27/2020,2/28/2020,2/29/2020,3/1/2020,3/2/2020,3/3/2020,3/4/2020,3/5/2020,3/6/2020
0,Anhui,Mainland China,31.8257,117.2264,1,9,15,39,60,70,...,989,989,990,990,990,990,990,990,990,990
1,Beijing,Mainland China,40.1824,116.4142,14,22,36,41,68,80,...,400,410,410,411,413,414,414,418,418,422
2,Chongqing,Mainland China,30.0572,107.8740,6,9,27,57,75,110,...,576,576,576,576,576,576,576,576,576,576
3,Fujian,Mainland China,26.0789,117.9874,1,5,10,18,35,59,...,294,296,296,296,296,296,296,296,296,296
4,Gansu,Mainland China,36.0611,103.8343,0,2,2,4,7,14,...,91,91,91,91,91,91,91,91,102,119

In [15]:
# List of confirmed cases columns
column_list = covid_df.columns[4:49]
jan = covid_df.columns[4:14]
feb = covid_df.columns[15:43]
march = covid_df.columns[44:49]

# Sum of all confirmed cases
covid_df['Jan Confirmed Cases'] = covid_df[jan].sum(axis=1)
covid_df['Feb Confirmed Cases'] = covid_df[feb].sum(axis=1)
covid_df['March Confirmed Cases'] = covid_df[march].sum(axis=1)
covid_df['Total Confirmed Cases'] = covid_df[column_list].sum(axis=1)

covid_cleaned_df = covid_df[['Province/State','Country/Region', 'Lat','Long',
                             'Jan Confirmed Cases', 'Feb Confirmed Cases', 
                             'March Confirmed Cases','Total Confirmed Cases']]
covid_cleaned_df

,Province/State,Country/Region,Lat,Long,Jan Confirmed Cases,Feb Confirmed Cases,March Confirmed Cases,Total Confirmed Cases
0,Anhui,Mainland China,31.8257,117.2264,889,23691,4950,30817
1,Beijing,Mainland China,40.1824,116.4142,716,9800,2086,13183
2,Chongqing,Mainland China,30.0572,107.8740,956,14206,2880,18865
3,Fujian,Mainland China,26.0789,117.9874,513,7413,1480,9846
4,Gansu,Mainland China,36.0611,103.8343,127,2315,494,3067
...,...,...,...,...,...,...,...,...
194,"Ramsey County, MN",US,44.9964,-93.0616,0,0,1,1
195,"Washoe County, NV",US,40.5608,-119.6035,0,0,1,1
196,"Wayne County, PA",US,41.6739,-75.2479,0,0,1,1
197,"Yolo County, CA",US,38.7646,-121.9018,0,0,1,1
198,NaN,Vatican City,41.9029,12.4534,0,0,1,1

In [16]:
# Renaming Countries
covid_cleaned_df.replace('Mainland China', 'China', inplace=True)
covid_cleaned_df.replace('Hong Kong', 'China', inplace=True)
covid_cleaned_df.replace('Taiwan', 'China', inplace=True)
covid_cleaned_df.replace('UK', 'United Kingdom', inplace=True)
covid_cleaned_df.replace('US', 'United States', inplace=True)
covid_cleaned_df.replace('Andorra', 'France', inplace=True)
covid_cleaned_df.replace('Bhutan', 'China', inplace=True)
covid_cleaned_df.replace('Liechtenstein', 'Switzerland', inplace=True)
covid_cleaned_df.replace('Monaco', 'France', inplace=True)
covid_cleaned_df.replace('North Macedonia', 'Greece', inplace=True)
covid_cleaned_df.replace('Palestine', 'Israel', inplace=True)
covid_cleaned_df.replace('Saint Barthelemy', 'Others', inplace=True)
covid_cleaned_df.replace('San Marino', 'Italy', inplace=True)

In [17]:
# Dropping unneeded columns
covid19_cleaned = covid_cleaned_df[['Country/Region','Jan Confirmed Cases', 
                    'Feb Confirmed Cases', 'March Confirmed Cases','Total Confirmed Cases']]

# Grouping counts by country, resetting index, renaming columns
covid19_cleaned_df = covid19_cleaned.groupby(['Country/Region']).sum()
covid19_cleaned_df = covid19_cleaned_df.reset_index()
covid19_cleaned_df = covid19_cleaned_df.rename(columns = {'Country/Region':'Country'})
 
covid19_cleaned_df

,Country,Jan Confirmed Cases,Feb Confirmed Cases,March Confirmed Cases,Total Confirmed Cases
0,Afghanistan,0,6,5,12
1,Algeria,0,5,49,55
2,Argentina,0,0,5,5
3,Armenia,0,0,5,6
4,Australia,38,474,236,787
...,...,...,...,...,...
84,United Arab Emirates,12,264,133,434
85,United Kingdom,2,240,454,734
86,United States,38,710,875,1707
87,Vatican City,0,0,1,1
88,Vietnam,18,392,80,512

In [18]:
# Save df to a csv file
covid19_cleaned_df.to_csv('covid19_cleaned.csv', index = False, header = True)

In [19]:
# Finding min, max and avg latitude
min_lat = covid_cleaned_df['Lat'].min()
max_lat = covid_cleaned_df['Lat'].max()
avg_lat = covid_cleaned_df['Lat'].mean()

print(f' Min Lat: {round(min_lat,2)}')
print(f' Max Lat: {round(max_lat,2)}')
print(f' Avg Lat: {round(avg_lat,2)}')

 Min Lat: -41.45
 Max Lat: 64.96
 Avg Lat: 31.84

In [20]:
# Calculate total confirmed cases
total_confirmed = covid_cleaned_df['Total Confirmed Cases'].sum()
print(f'Total Confirmed Cases: {total_confirmed}')

Total Confirmed Cases: 2276824

In [21]:
# Countries covid 19 has spread to
covid_spread = covid_cleaned_df.loc[(covid_cleaned_df["Country/Region"] != "Mainland China")]
covid_spread

,Province/State,Country/Region,Lat,Long,Jan Confirmed Cases,Feb Confirmed Cases,March Confirmed Cases,Total Confirmed Cases
0,Anhui,China,31.8257,117.2264,889,23691,4950,30817
1,Beijing,China,40.1824,116.4142,716,9800,2086,13183
2,Chongqing,China,30.0572,107.8740,956,14206,2880,18865
3,Fujian,China,26.0789,117.9874,513,7413,1480,9846
4,Gansu,China,36.0611,103.8343,127,2315,494,3067
...,...,...,...,...,...,...,...,...
194,"Ramsey County, MN",United States,44.9964,-93.0616,0,0,1,1
195,"Washoe County, NV",United States,40.5608,-119.6035,0,0,1,1
196,"Wayne County, PA",United States,41.6739,-75.2479,0,0,1,1
197,"Yolo County, CA",United States,38.7646,-121.9018,0,0,1,1
198,NaN,Vatican City,41.9029,12.4534,0,0,1,1

In [22]:
# Calculating confirmed cases outside of China
total_spread = covid_spread['Total Confirmed Cases'].sum()
print(f'Total Confirmed Cases Outside China: {total_spread}')

Total Confirmed Cases Outside China: 2276824

In [23]:
# Calculating confirmed cases in Northern and Southern hemisphere
covid_north_hemi = covid_spread.loc[(covid_spread["Lat"] > 0)]
covid_south_hemi = covid_spread.loc[(covid_spread["Lat"] < 0)]

north_covid =  covid_north_hemi['Total Confirmed Cases'].sum()
south_covid =  covid_south_hemi['Total Confirmed Cases'].sum()

print(f'Northern Hemisphere Confirmed Cases (Outside of China): {north_covid}')
print(f'Southern Hemisphere Confirmed Cases: {south_covid}')

Northern Hemisphere Confirmed Cases (Outside of China): 2275960
Southern Hemisphere Confirmed Cases: 864

In [24]:
country_list = covid19_cleaned_df['Country'].tolist()
len(country_list)

89